[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
tensorflow = "*"
keras = "*"
openpyxl = "*"
jupyter = "*"
tensorflow-model-optimization = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3"
